@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sen';
}

body{
    /* background-color: #272A37; /*344055, 2f3643*/
    background: url(../img/sucesso.png) no-repeat center;
    background-size: cover;
    padding: 0px 100px;

}

a{
    text-decoration: none;
    color: white;
}

header{
    height: 100px;
}

header nav > a{
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    top: 35px;
    right: 3.5%;
}

header nav > a > img{
    width: 5%;
    position: relative;
    top: 10px;
    right: 3%;
}

header nav > a > p{
    display: inline-block;
}

header nav > a span{
    color: #138DD9;
}

header nav ul{
    text-align: left;
    position: absolute;
    top: 7%;
    left: 23%;
}

header nav ul li{
    display: inline-block;
    font-weight: 400;
    padding: 10px;
}

header nav ul li a{
    color: #6C7483;
    font-weight: 600;
}

header nav ul li :nth-of-type(1){
    padding-left: 60px;
    padding-right: 20px;
}

section{
    margin-top: 150px;
    margin-bottom: 5%;
}

section p{
    color: #8991a0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section h1{
    font-size: 3.5em;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
}

section h4{
    font-weight: 500;
    color: #6C7483;
    margin-bottom: 50px;
}

section span{
    color: #138DD9;
}

section h4 a{
    color: #138DD9;
    font-weight: 400;
}

section form .background{
    background: #39404d;
    border: 2px solid #39404d;
    border-radius: 20px;
    width: 43%;
    margin-bottom: 20px;
    padding-top: 12px;
    height: 65px;
    transition: all 0.2s;
}

section form .background:hover{
    border: 2px solid #138DD9;
    box-shadow: 0px 0px 5px 5px #138dd96c;
}

section form .background:nth-of-type(1){
    width: 20%;
    display: inline-block;
    margin-right: 30px;
}

section form .background:nth-of-type(2){
    width: 20%;
    display: inline-block;
}

section form .background label{
    font-size: 0.7em;
    color: #cfcfcf;
    margin-left: 27px;
    margin-bottom: 1px;
    display: block;
}

section form .background p{
    display: inline-block;
    position: relative;
    left: 11%;
    bottom: 12%;
}

section form .background .move{
    left: 21%;
}

section form .background input::placeholder{
    color: #c7c3c3;
}

section form div input[type="text"]{
    width: 70%;
    padding-left: 27px;
    color: white;
}

section form div input[type="email"]{
    width: 70%;
    padding-left: 27px;
    color: white;
}

section form div input[type="password"]{
    width: 70%;
    padding-left: 27px;
    color: white;
}

section form input[type="submit"]{
    border: none;
    background-color: #138DD9;
    width: 43%;
    color: white;
    margin-top: 2.5%;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    transition: all 0.5s;
}

section form input[type="submit"]:hover{
    box-shadow: 0px 0px 5px 5px #138dd96c;
}

section form div input{
    outline: none;
    background: transparent;
    border: none;
}

footer{
    margin-bottom: 3%;
}

footer img{
    position: relative;
    left: 93%;
}